 {% load static %}
 <div class="col-xs-12 col-sm-6 col-md-4">
     <article class="post clearfix mb-sm-30 bg-silver-light">
         <div class="entry-header">
             <div class="post-thumb thumb">
                 <img src="{{data.img.url}}" alt="" class="img-responsive img-fullwidth">
             </div>
         </div>
         <div class="bg-theme-colored p-5 text-center pt-10 pb-10">
             <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-share-alt mr-5 text-white"></i>24
                 Share</span>
             <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-white"></i> 214
                 Comments</span>
             <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-heart-o mr-5 text-white"></i> 895
                 Likes</span>
         </div>
         <div class="entry-content p-20 pr-10">
             <div class="entry-meta media mt-0 no-bg no-border">
                 <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                     <ul>
                         <li class="font-16 text-white font-weight-600 border-bottom">{{data.time|date:"d"}}</li>
                         <li class="font-12 text-white text-uppercase">{{data.time|date:"M"}}</li>
                     </ul>
                 </div>
                 <div class="media-body pl-15">
                     <div class="event-content pull-left flip">
                         <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="{% url "single"|add:data.type|lower data.slug %}">{{data.title}}</a></h4>
                     </div>
                 </div>
             </div>
             <p class="mt-10">{{data.shortDes}}
             </p>
             <a href="{% url 'singleblog' data.slug %}" class="btn btn-default btn-sm btn-theme-colored mt-10">Read more</a>
         </div>
     </article>
 </div>