<div class="event media sm-maxwidth400 border-bottom mt-5 mb-0 pt-10 pb-15">
    <div class="row">
        <div class="col-xs-2 col-md-3 pr-0">
            <div class="event-date text-center bg-theme-colored border-1px p-0 pt-10 pb-10 sm-custom-style">
                <ul>
                    <li class="font-28 text-white font-weight-700">{{data.eventTime|date:"d"}}</li>
                    <li class="font-18 text-white text-center text-uppercase">{{data.eventTime|date:"M"}}</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-9 pr-10 pl-10">
            <div class="event-content mt-10 p-5 pb-0 pt-0">
                <h5 class="media-heading font-16 font-weight-600"><a href="{% url 'singleevent' data.slug %}">{{data.title}}</a></h5>
                <ul class="list-inline font-weight-600 text-gray-dimgray">
                    <li><i class="fa fa-clock-o text-theme-colored"></i> {{data.eventTime|time}} -
                        {{data.eventEndTime|time}}</li>
                    <li> <i class="fa fa-map-marker text-theme-colored"></i> {{data.state}},{{data.country}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>