{% extends 'basic.html' %}
{% load static %}
{% block body %}
   <!-- Start main-content -->
   <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/bg/bg1.jpg' %}">
     <div class="container pt-90 pb-50">
      <!-- Section Content -->
      <div class="section-content pt-100">
       <div class="row">
        <div class="col-md-12">
         <h3 class="title text-white">
          Shop Sidebar
         </h3>
         <ul class="list-inline text-white">
          <li>
           Home /
          </li>
          <li>
           <span class="text-gray">
            Shop Sidebar
           </span>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
    <section class="">
     <div class="container mt-30 mb-30 p-30">
      <div class="section-content">
       <div class="row">
        <div class="col-sm-12 col-md-9 slide">
         <div class="row multi-row-clearfix">
          <div class="products">
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <span class="tag-sale">
              Sale!
             </span>
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/1.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Saddles
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 67%;">
                3.50
               </span>
              </div>
              <div class="price">
               <del>
                <span class="amount">
                 $110.00
                </span>
               </del>
               <ins>
                <span class="amount">
                 $90.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/2.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Saddles
               </h5>
              </a>
              <div class="star-rating" title="Rated 5.00 out of 5">
               <span style="width: 100%;">
                5.00
               </span>
              </div>
              <div class="price">
               <ins>
                <span class="amount">
                 $480.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <span class="tag-sale">
              Sale!
             </span>
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/3.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Saddles
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 60%;">
                3.50
               </span>
              </div>
              <div class="price">
               <del>
                <span class="amount">
                 $70.00
                </span>
               </del>
               <ins>
                <span class="amount">
                 $55.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/4.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Helmets
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 75%;">
                3.50
               </span>
              </div>
              <div class="price">
               <ins>
                <span class="amount">
                 $185.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <span class="tag-sale">
              Sale!
             </span>
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/5.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Helmets
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 40%;">
                3.50
               </span>
              </div>
              <div class="price">
               <del>
                <span class="amount">
                 $220.00
                </span>
               </del>
               <ins>
                <span class="amount">
                 $210.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <span class="tag-sale">
              Sale!
             </span>
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/6.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Vests
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 80%;">
                3.50
               </span>
              </div>
              <div class="price">
               <del>
                <span class="amount">
                 $165.00
                </span>
               </del>
               <ins>
                <span class="amount">
                 $160.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <span class="tag-sale">
              Sale!
             </span>
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/7.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Vests
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 32%;">
                3.50
               </span>
              </div>
              <div class="price">
               <del>
                <span class="amount">
                 $120.00
                </span>
               </del>
               <ins>
                <span class="amount">
                 $110.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/8.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Horse Rugs
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 85%;">
                3.50
               </span>
              </div>
              <div class="price">
               <ins>
                <span class="amount">
                 $240.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
            <div class="product pb-0">
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/9.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="{% url 'singleshop' 'slug' %}">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Whip
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 56%;">
                3.50
               </span>
              </div>
              <div class="price">
               <ins>
                <span class="amount">
                 $480.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-md-12">
            <nav>
             <ul class="pagination theme-colored mt-0">
              <li>
               <a aria-label="Previous" href="#">
                <span aria-hidden="true">
                 «
                </span>
               </a>
              </li>
              <li class="active">
               <a href="#">
                1
               </a>
              </li>
              <li>
               <a href="#">
                2
               </a>
              </li>
              <li>
               <a href="#">
                3
               </a>
              </li>
              <li>
               <a href="#">
                4
               </a>
              </li>
              <li>
               <a href="#">
                5
               </a>
              </li>
              <li>
               <a href="#">
                ...
               </a>
              </li>
              <li>
               <a aria-label="Next" href="#">
                <span aria-hidden="true">
                 »
                </span>
               </a>
              </li>
             </ul>
            </nav>
           </div>
          </div>
         </div>
        </div>
        <div class="col-sm-12 col-md-3 slide">
         <div class="sidebar sidebar-right mt-sm-30">
          <div class="widget">
           <h5 class="widget-title line-bottom">
            Search box
           </h5>
           <div class="search-form">
            <form>
             <div class="input-group">
              <input class="form-control search-input" placeholder="Click to Search" type="text"/>
              <span class="input-group-btn">
               <button class="btn search-button" type="submit">
                <i class="fa fa-search">
                </i>
               </button>
              </span>
             </div>
            </form>
           </div>
          </div>
          <div class="widget">
           <h5 class="widget-title line-bottom">
            Categories
           </h5>
           <div class="categories">
            <ul class="list list-border angle-double-right">
             <li>
              <a href="#">
               Creative
               <span>
                (19)
               </span>
              </a>
             </li>
             <li>
              <a href="#">
               Portfolio
               <span>
                (21)
               </span>
              </a>
             </li>
             <li>
              <a href="#">
               Fitness
               <span>
                (15)
               </span>
              </a>
             </li>
             <li>
              <a href="#">
               Gym
               <span>
                (35)
               </span>
              </a>
             </li>
             <li>
              <a href="#">
               Personal
               <span>
                (16)
               </span>
              </a>
             </li>
            </ul>
           </div>
          </div>
          <div class="widget">
           <h5 class="widget-title line-bottom">
            Top Sellers
           </h5>
           <div class="top-sellers">
            <article class="post media-post clearfix pb-0 mb-10">
             <a class="post-thumb" href="#">
              <img alt="" src=" {% static 'images/products/sm1.jpg' %} "/>
             </a>
             <div class="post-right">
              <h5 class="post-title font-weight-600 mt-0 mb-0">
               <a href="#">
                Saddles
               </a>
              </h5>
              <div class="product-detail">
               <div class="price mb-10">
                <ins>
                 <span class="amount">
                  $480.00
                 </span>
                </ins>
               </div>
               <div class="star-rating ml-0" title="Rated 3.50 out of 5">
                <span style="width: 60%;">
                 3.50
                </span>
               </div>
              </div>
             </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
             <a class="post-thumb" href="#">
              <img alt="" src=" {% static 'images/products/sm2.jpg' %} "/>
             </a>
             <div class="post-right">
              <h5 class="post-title font-weight-600 mt-0 mb-0">
               <a href="#">
                Helmets
               </a>
              </h5>
              <div class="product-detail">
               <div class="price mb-10">
                <ins>
                 <span class="amount">
                  $480.00
                 </span>
                </ins>
               </div>
               <div class="star-rating ml-0" title="Rated 3.50 out of 5">
                <span style="width: 60%;">
                 3.50
                </span>
               </div>
              </div>
             </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
             <a class="post-thumb" href="#">
              <img alt="" src=" {% static 'images/products/sm3.jpg' %} "/>
             </a>
             <div class="post-right">
              <h5 class="post-title font-weight-600 mt-0 mb-0">
               <a href="#">
                Vests
               </a>
              </h5>
              <div class="product-detail">
               <div class="price mb-10">
                <ins>
                 <span class="amount">
                  $480.00
                 </span>
                </ins>
               </div>
               <div class="star-rating ml-0" title="Rated 3.50 out of 5">
                <span style="width: 60%;">
                 3.50
                </span>
               </div>
              </div>
             </div>
            </article>
           </div>
          </div>
          <div class="widget">
           <h5 class="widget-title line-bottom">
            Photos from Flickr
           </h5>
           <div class="clearfix" id="flickr-feed">
            <!-- Flickr Link -->
            <script src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08" type="text/javascript">
            </script>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- end main-content -->
   </div>
   <!-- Footer -->
    {% endblock %}

{% block css %}
<style>
div.section-content div.row div.slide {
    max-height: 150vh;
    overflow: scroll;
}
div.section-content div.row div.slide::-webkit-scrollbar {
    display: none;
}
</style>
{% endblock %}