{% extends 'basic.html' %}
{% load static %}
{% block body %}
   <!-- Start main-content -->
   <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/bg/bg1.jpg' %}">
     <div class="container pt-90 pb-50">
      <!-- Section Content -->
      <div class="section-content pt-100">
       <div class="row">
        <div class="col-md-12">
         <h3 class="title text-white">
          Product Details
         </h3>
         <ul class="list-inline text-white">
          <li>
           Home /
          </li>
          <li>
           <span class="text-gray">
            Product Details
           </span>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
    <section>
     <div class="container">
      <div class="section-content">
       <div class="row">
        <div class="product slide">
         <div class="col-md-5">
          <div class="product-image">
           <div class="zoom-gallery">
            <a href=" {% static 'images/products/lg1.jpg' %} " title="Title Here 1">
             <img alt="" src=" {% static 'images/products/lg1.jpg' %} "/>
            </a>
           </div>
          </div>
         </div>
         <div class="col-md-7">
          <div class="product-summary">
           <h2 class="product-title">
            Saddles
           </h2>
           <div class="product_review">
            <ul class="review_text list-inline">
             <li>
              <div class="star-rating" title="Rated 4.50 out of 5">
               <span style="width: 90%;">
                4.50
               </span>
              </div>
             </li>
             <li>
              <a href="#">
               <span>
                2
               </span>
               Reviews
              </a>
             </li>
             <li>
              <a href="#">
               Add reviews
              </a>
             </li>
            </ul>
           </div>
           <div class="price">
            <del>
             <span class="amount">
              $165.00
             </span>
            </del>
            <ins>
             <span class="amount">
              $160.00
             </span>
            </ins>
           </div>
           <div class="short-description">
            <p>
             Donec volutpat purus tempor sem molestie, sed blandit lacus posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere mollis nulla ut consectetur.
            </p>
           </div>
           <div class="tags">
            <strong>
             SKU:
            </strong>
            EA34
           </div>
           <div class="category">
            <strong>
             Category:
            </strong>
            <a href="#">
             Helmets
            </a>
            ,
            <a href="#">
             Horse Rugs
            </a>
           </div>
           <div class="tags">
            <strong>
             Tags:
            </strong>
            <a href="#">
             Saddles
            </a>
            ,
            <a href="#">
             Whip
            </a>
           </div>
           <div class="cart-form-wrapper mt-30">
            <form class="cart" enctype="multipart/form-data" method="post">
             <input name="add-to-cart" type="hidden" value="productID"/>
             <table class="table variations no-border">
              <tbody>
               <tr>
                <td class="name">
                 Size
                </td>
                <td class="value">
                 <select class="form-control">
                  <option value="">
                   Choose an option...
                  </option>
                  <option value="large">
                   Large
                  </option>
                  <option selected="selected" value="medium">
                   Medium
                  </option>
                  <option value="small">
                   Small
                  </option>
                 </select>
                </td>
               </tr>
               <tr>
                <td class="name">
                 Amount
                </td>
                <td class="value">
                 <div class="quantity buttons_added">
                  <input class="minus" type="button" value="-"/>
                  <input class="input-text qty text" min="1" name="quantity" size="4" step="1" title="Qty" type="number" value="1"/>
                  <input class="plus" type="button" value="+"/>
                 </div>
                </td>
               </tr>
              </tbody>
             </table>
             <button class="single_add_to_cart_button btn btn-theme-colored" type="submit">
              Add to cart
             </button>
            </form>
           </div>
          </div>
         </div>
         <div class="col-md-12">
          <div class="horizontal-tab product-tab">
           <ul class="nav nav-tabs">
            <li class="active">
             <a data-toggle="tab" href="#tab1">
              Description
             </a>
            </li>
            <li>
             <a data-toggle="tab" href="#tab2">
              Additional Information
             </a>
            </li>
            <li>
             <a data-toggle="tab" href="#tab3">
              Reviews
             </a>
            </li>
           </ul>
           <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
             <h3>
              Product Description
             </h3>
             <p>
              One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus voluptates nisi hic alias libero explicabo reiciendis sint ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae. One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus voluptates nisi hic alias libero explicabo reiciendis sint ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.
             </p>
             <p>
              One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus voluptates nisi hic alias libero explicabo reiciendis sint ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.
             </p>
            </div>
            <div class="tab-pane fade" id="tab2">
             <table class="table table-striped">
              <tbody>
               <tr>
                <th>
                 Brand
                </th>
                <td>
                 <p>
                  Envato
                 </p>
                </td>
               </tr>
               <tr>
                <th>
                 Color
                </th>
                <td>
                 <p>
                  Brown
                 </p>
                </td>
               </tr>
               <tr>
                <th>
                 Size
                </th>
                <td>
                 <p>
                  Large, Medium
                 </p>
                </td>
               </tr>
               <tr>
                <th>
                 Weight
                </th>
                <td>
                 27 kg
                </td>
               </tr>
               <tr>
                <th>
                 Dimensions
                </th>
                <td>
                 16 x 22 x 123 cm
                </td>
               </tr>
              </tbody>
             </table>
            </div>
            <div class="tab-pane fade" id="tab3">
             <div class="reviews">
              <ol class="commentlist">
               <li class="comment">
                <div class="media">
                 <a class="media-left" href="#">
                  <img alt="" class="img-circle" src="https://placehold.it/75x75" width="75"/>
                 </a>
                 <div class="media-body">
                  <ul class="review_text list-inline">
                   <li>
                    <div class="star-rating" title="Rated 5.00 out of 5">
                     <span style="width: 100%;">
                      5.00
                     </span>
                    </div>
                   </li>
                   <li>
                    <h5 class="media-heading meta">
                     <span class="author">
                      Tom Joe
                     </span>
                     – Mar 15, 2015:
                    </h5>
                   </li>
                  </ul>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat purus tempor sem molestie, sed blandit lacus posuere. Lorem ipsum dolor sit amet.
                 </div>
                </div>
               </li>
               <li class="comment">
                <div class="media">
                 <a class="media-left" href="#">
                  <img alt="" class="img-circle" src="https://placehold.it/75x75" width="75"/>
                 </a>
                 <div class="media-body">
                  <ul class="review_text list-inline">
                   <li>
                    <div class="star-rating" title="Rated 4.00 out of 5">
                     <span style="width: 80%;">
                      4.00
                     </span>
                    </div>
                   </li>
                   <li>
                    <h5 class="media-heading meta">
                     <span class="author">
                      Mark Doe
                     </span>
                     – Jan 23, 2015:
                    </h5>
                   </li>
                  </ul>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat purus tempor sem molestie, sed blandit lacus posuere. Lorem ipsum dolor sit amet.
                 </div>
                </div>
               </li>
              </ol>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-md-12 mt-30 slide">
         <h3 class="line-bottom">
          Related Products
         </h3>
         <div class="row multi-row-clearfix">
          <div class="products related">
           <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
            <div class="product pb-0">
             <span class="tag-sale">
              Sale!
             </span>
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/6.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Vests
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 80%;">
                3.50
               </span>
              </div>
              <div class="price">
               <del>
                <span class="amount">
                 $165.00
                </span>
               </del>
               <ins>
                <span class="amount">
                 $160.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
            <div class="product pb-0">
             <span class="tag-sale">
              Sale!
             </span>
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/3.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Saddles
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 60%;">
                3.50
               </span>
              </div>
              <div class="price">
               <del>
                <span class="amount">
                 $70.00
                </span>
               </del>
               <ins>
                <span class="amount">
                 $55.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
            <div class="product pb-0">
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/4.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Helmets
               </h5>
              </a>
              <div class="star-rating" title="Rated 3.50 out of 5">
               <span style="width: 75%;">
                3.50
               </span>
              </div>
              <div class="price">
               <ins>
                <span class="amount">
                 $185.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-6 col-md3 col-lg-3 mb-30">
            <div class="product pb-0">
             <div class="product-thumb">
              <img alt="" class="img-responsive img-fullwidth" src=" {% static 'images/products/2.jpg' %} "/>
              <div class="overlay">
               <div class="btn-add-to-cart-wrapper">
                <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 Add To Cart
                </a>
               </div>
               <div class="btn-product-view-details">
                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">
                 View detail
                </a>
               </div>
              </div>
             </div>
             <div class="product-details text-center bg-lighter pt-15 pb-10">
              <a href="#">
               <h5 class="product-title mt-0">
                Saddles
               </h5>
              </a>
              <div class="star-rating" title="Rated 5.00 out of 5">
               <span style="width: 100%;">
                5.00
               </span>
              </div>
              <div class="price">
               <ins>
                <span class="amount">
                 $480.00
                </span>
               </ins>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- end main-content -->
   </div>
  {% endblock %}

{% block css %}
<style>
div.section-content div.row div.slide {
    max-height: 150vh;
    overflow: scroll;
}
div.section-content div.row div.slide::-webkit-scrollbar {
    display: none;
}
</style>
{% endblock %}