{% extends 'basic.html' %}
{% load static %}
{% block body %}

<section class="bg-lightest fullscreen" id="home">
    <div class="display-table text-center">
        <div class="display-table-cell">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="text-theme-colored font-weight-300 font-64">
                            <span class="pe-7s-close-circle" style="color:red;"></span><br>
                            Payment Failed
                        </h1>
                        <div class="ClassyCountdownDemo" id="countdown17">
                        </div>

                        <p class="font-20">


                            <br />
                            Your donation of  is failed due to technical error </br>
                            If your ammout is deducted please wait for 24 hour your ammount will be trasfered to your bank account
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}