{% extends 'basic.html' %}
{% load static %}
{% load custumfilter %}
{% block body %}
   <!-- Start main-content -->
   <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static "images/bg/bg1.jpg" %}">
     <div class="container pt-100 pb-50">
      <!-- Section Content -->
      <div class="section-content pt-100">
       <div class="row">
        <div class="col-md-12">
         <h3 class="title text-white">
          {{couse.title}}
         </h3>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- Section: Causes -->
    <section>
     <div class="container">
      <div class="row mtli-row-clearfix">
       <div class="col-sm-8 col-md-8 col-lg-8 slide">
        <div class="causes bg-white maxwidth500 mb-30">
         <div class="thumb">
          <img alt="" class="img-fullwidth" src="{{couse.img.url}}"/>
          <div class="overlay-donate-now">
           <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href=" {% url 'couses' %} ">
            Donate
            <i class="flaticon-charity-make-a-donation font-16 ml-5">
            </i>
           </a>
          </div>
         </div>
         <div class="progress-item mt-0">
          <div class="progress mb-0">
           <div class="progress-bar" data-percent="{{couse.target|getpercent:couse.raised}}">
            <span class="percent">
             0
            </span>
           </div>
          </div>
         </div>
         <div class="causes-details clearfix border-bottom-theme-color-1px p-15 pt-10 pb-10">
          <h5 class="font-weight-600 font-16">
           <a href="{% url 'singlecouse' couse.slug %}">
            {{couse.title}}
           </a>
          </h5>
          <p>
           {{couse.subtitle}}
          </p>
          <ul class="list-inline project-conditions mt-20 text-center bg-theme-colored-transparent-1 m-0 p-10">
           <li class="target-fund text-theme-colored">
            <strong>
             ${{couse.target}}
            </strong>
            Target
           </li>
           <li class="day text-theme-colored">
            <i class="flaticon-charity-hand-holding-a-heart font-30">
            </i>
           </li>
           <li class="raised text-theme-colored">
            <strong>
             ${{couse.raised}}
            </strong>
            Raised
           </li>
          </ul>
         </div>
        </div>
        <div class="event-details">
            
        {{couse.content|safe}}
        </div>
       </div>
       <div class="col-sm-4 col-md-4 col-lg-4 slide">
        <div class="sidebar sidebar-right mt-sm-30">
         <div class="widget">
          <h4 class="widget-title line-bottom">
           Archives
          </h4>
          <ul class="list-divider list-border list check">
           <li>
           
             Vehicle Accidents
        
           </li>
           <li>
           
             Family Law
          
           </li>
           <li>
          
             Personal Injury
          
           </li>
           <li>
          
             Personal Injury
           
           </li>
           <li>
          
             Case Investigation
         
           </li>
           <li>
           
             Business Taxation
           
           </li>
          </ul>
         </div>
         <div class="widget">
          <h4 class="widget-title line-bottom">
           Twitter Feed
          </h4>
          <div class="twitter-feed list-border clearfix" data-username="Envato">
          </div>
         </div>
         <div class="widget">
          <h5 class="widget-title line-bottom">
           Image gallery with text
          </h5>
          <div class="owl-carousel-1col">
           <div class="item">
            <img alt="" src="https://placehold.it/365x230"/>
            <h4 class="title">
             This is a Demo Title
            </h4>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.
            </p>
           </div>
           <div class="item">
            <img alt="" src="https://placehold.it/365x230"/>
            <h4 class="title">
             This is a Demo Title
            </h4>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.
            </p>
           </div>
           <div class="item">
            <img alt="" src="https://placehold.it/365x230"/>
            <h4 class="title">
             This is a Demo Title
            </h4>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.
            </p>
           </div>
          </div>
         </div>
         <div class="widget">
          <h4 class="widget-title line-bottom">
           Tags
          </h4>
          <div class="tags">
           <a href="#">
            travel
           </a>
           <a href="{% url 'blogs' %}">
            blog
           </a>
           <a href="#">
            lifestyle
           </a>
           <a href="#">
            feature
           </a>
           <a href="#">
            mountain
           </a>
           <a href="#">
            design
           </a>
           <a href="#">
            restaurant
           </a>
           <a href="#">
            journey
           </a>
           <a href="#">
            classic
           </a>
           <a href="#">
            sunset
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- Divider: Video Tour -->
    <section class="divider parallax layer-overlay overlay-dark-9" data-bg-img="images/bg/bg3.jpg" data-parallax-ratio="0.7">
     <div class="display-table">
      <div class="display-table-cell">
       <div class="container">
        <div class="row">
         <div class="col-md-12 text-center">
          <a data-lightbox-gallery="youtube-video" href="https://www.youtube.com/watch?v=LQoK8UKxftA">
           <i class="fa fa-play-circle text-theme-colored font-72">
           </i>
          </a>
          <h2 class="text-white text-uppercase font-48 font-weight-700 mb-0">
           Let's have a
           <span class="text-theme-colored">
            video
           </span>
           Tour
          </h2>
          <p class="font-16 text-white">
           We provides always our best industrial solution for our clientsand  always try to
           <br/>
           achieve our client's trust and satisfaction.
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- Section: DonetForm & Testimonials -->
    <section class="" data-bg-img="images/bg/bg4.jpg">
     <div class="container pb-40">
      <div class="section-content">
       <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
         <h3 class="text-uppercase title line-bottom mt-0 mb-30">
          <i class="fa fa-cc-mastercard text-theme-colored mr-10">
          </i>
          Make a Donation
          <span class="text-theme-colored">
           Now!
          </span>
         </h3>
         <!-- ===== START: Paypal Both Onetime/Recurring Form ===== -->
         <form id="paypal_donate_form_onetime_recurring" action="{% url 'donate' slug=couse.slug %}" method="post">{% csrf_token %} 
          <div class="row">
           <div class="col-md-12">
            <div class="form-group mb-20">
             <label>
              <strong>
               Payment Type
              </strong>
             </label>
             <br/>
             <label class="radio-inline">
              <input checked="" name="payment_type" type="radio" value="one_time"/>
              One Time
             </label>
             <label class="radio-inline">
              <input name="payment_type" type="radio" value="recurring"/>
              Recurring
             </label>
            </div>
           </div>
           <div class="col-sm-12" id="donation_type_choice">
            <div class="form-group mb-20">
             <label>
              <strong>
               Donation Type
              </strong>
             </label>
             <div class="radio mt-5">
              <label class="radio-inline">
               <input checked="" name="t3" type="radio" value="D"/>
               Daily
              </label>
              <label class="radio-inline">
               <input name="t3" type="radio" value="W"/>
               Weekly
              </label>
              <label class="radio-inline">
               <input name="t3" type="radio" value="M"/>
               Monthly
              </label>
              <label class="radio-inline">
               <input name="t3" type="radio" value="Y"/>
               Yearly
              </label>
             </div>
            </div>
           </div>
           
           <div class="col-sm-6">
            <div class="form-group mb-20">
                <label>
                 <strong>
                  First Name
                 </strong>
                </label>
                <input type="text" class="form-control" name="fname" placeholder="First Name">
               </div>
           </div>
           <div class="col-sm-6">
            <div class="form-group mb-20">
                <label>
                 <strong>
                  Last Name
                 </strong>
                </label>
                <input type="text" class="form-control" name="lname" placeholder="Last Name">
               </div>
           </div>
           <div class="col-sm-12">
            <div class="form-group mb-20">
                <label>
                 <strong>
                  Email
                 </strong>
                </label>
                <input type="email" class="form-control" name="email" placeholder="Email">
               </div>
           </div>
           <div class="col-sm-12">
            <div class="form-group mb-20">
                <label>
                 <strong>
                  Mobile
                 </strong>
                </label>
                <input type="text" class="form-control" name="phone" placeholder="Phone">
               </div>
           </div>
           <div class="col-sm-6"></div>

           <div class="col-sm-12">
            <div class="form-group mb-20">
             <label>
              <strong>
               Currency
              </strong>
             </label>
             <select class="form-control" name="currency_code">
              <option value="">
               Select Currency
              </option>
              <option selected="selected" value="USD">
               USD - U.S. Dollars
              </option>
              <option value="AUD">
               AUD - Australian Dollars
              </option>
              <option value="BRL">
               BRL - Brazilian Reais
              </option>
              <option value="GBP">
               GBP - British Pounds
              </option>
              <option value="HKD">
               HKD - Hong Kong Dollars
              </option>
              <option value="HUF">
               HUF - Hungarian Forints
              </option>
              <option value="INR">
               INR - Indian Rupee
              </option>
              <option value="ILS">
               ILS - Israeli New Shekels
              </option>
              <option value="JPY">
               JPY - Japanese Yen
              </option>
              <option value="MYR">
               MYR - Malaysian Ringgit
              </option>
              <option value="MXN">
               MXN - Mexican Pesos
              </option>
              <option value="TWD">
               TWD - New Taiwan Dollars
              </option>
              <option value="NZD">
               NZD - New Zealand Dollars
              </option>
              <option value="NOK">
               NOK - Norwegian Kroner
              </option>
              <option value="PHP">
               PHP - Philippine Pesos
              </option>
              <option value="PLN">
               PLN - Polish Zlotys
              </option>
              <option value="RUB">
               RUB - Russian Rubles
              </option>
              <option value="SGD">
               SGD - Singapore Dollars
              </option>
              <option value="SEK">
               SEK - Swedish Kronor
              </option>
              <option value="CHF">
               CHF - Swiss Francs
              </option>
              <option value="THB">
               THB - Thai Baht
              </option>
              <option value="TRY">
               TRY - Turkish Liras
              </option>
             </select>
            </div>
           </div>


           <div class="col-sm-12">
            <div class="form-group mb-20">
             <label>
              <strong>
               How much do you want to donate?
              </strong>
             </label>
             <select class="form-control" name="amount">
              <option value="20">
               20
              </option>
              <option value="50">
               50
              </option>
              <option value="100">
               100
              </option>
              <option value="200">
               200
              </option>
              <option value="500">
               500
              </option>
              <option value="other">
               Other Amount
              </option>
             </select>
             <div id="custom_other_amount">
              <label>
               <strong>
                Custom Amount:
               </strong>
              </label>
             </div>
            </div>
           </div>

           <div class="col-sm-12">
            <div class="form-group mb-20">
             <label>
              <strong>
               Select the Payment Method
              </strong>
             </label><br>
             <input type="radio" name="paymentmode" id="paypal" value="paypal"> <label for="paypal"><img   class="btn " src="/static/trasparentpaypal.png" width="190px" name="submit" alt="Donate Now"></label><br>
             <input type="radio" name="paymentmode" id="paytm" value="paytm"> <label for="paytm"><img  class="btn " src="/static/transparentpaytm.png" width="190px" name="submit" alt="Donate Now"></label><br>
             <!-- <input type="radio" name="paymentmode" id="rozorpay" value="rozorpay"> <label for="rozorpay"><img  class="btn " src="/static/tranparentRozorpay.png" width="190px" name="submit" alt="Donate Now"></label><br> -->
            </div>
           </div>

           <div class="col-sm-12">
            <div class="form-group">
             <button class="btn btn-flat btn-dark btn-theme-colored mt-10 pl-30 pr-30" data-loading-text="Please wait..." type="submit">
              Donate Now
             </button>
            </div>
           </div>
          </div>
         </form>
         <!-- Script for Donation Form Custom Amount -->
         <script type="text/javascript">
          $(document).ready(function(e) {

                  var $donation_form = $("#paypal_donate_form_onetime_recurring");

                  //toggle custom amount

                  var $custom_other_amount = $donation_form.find("#custom_other_amount");

                  $custom_other_amount.hide();

                  $donation_form.find("select[name='amount']").change(function() {

                      var $this = $(this);

                      if ($this.val() == 'other') {

                        $custom_other_amount.show().append('<div class="input-group"><span class="input-group-addon">$</span> <input id="input_other_amount" type="text" name="amount" class="form-control" value="100"/></div>');

                      }

                      else{

                        $custom_other_amount.children( ".input-group" ).remove();

                        $custom_other_amount.hide();

                      }

                  });



                  //toggle donation_type_choice

                  var $donation_type_choice = $donation_form.find("#donation_type_choice");

                  $donation_type_choice.hide();

                  $("input[name='payment_type']").change(function() {

                      if (this.value == 'recurring') {

                          $donation_type_choice.show();

                      }

                      else {

                          $donation_type_choice.hide();

                      }

                  });





                  // submit form on click

                //   $donation_form.on('submit', function(e){

                //           $( "#paypal_donate_form-onetime" ).submit();

                //       var item_name = $donation_form.find("select[name='item_name'] option:selected").val();

                //       var currency_code = $donation_form.find("select[name='currency_code'] option:selected").val();

                //       var amount = $donation_form.find("select[name='amount'] option:selected").val();

                //       var t3 = $donation_form.find("input[name='t3']:checked").val();



                //       if ( amount == 'other') {

                //         amount = $donation_form.find("#input_other_amount").val();

                //       }



                //       // submit proper form now

                //       if ( $("input[name='payment_type']:checked", $donation_form).val() == 'recurring' ) {

                //           var recurring_form = $('#paypal_donate_form-recurring');



                //           recurring_form.find("input[name='item_name']").val(item_name);

                //           recurring_form.find("input[name='currency_code']").val(currency_code);

                //           recurring_form.find("input[name='a3']").val(amount);

                //           recurring_form.find("input[name='t3']").val(t3);



                //           recurring_form.find("input[type='submit']").trigger('click');



                //       } else if ( $("input[name='payment_type']:checked", $donation_form).val() == 'one_time' ) {

                //           var onetime_form = $('#paypal_donate_form-onetime');



                //           onetime_form.find("input[name='item_name']").val(item_name);

                //           onetime_form.find("input[name='currency_code']").val(currency_code);

                //           onetime_form.find("input[name='amount']").val(amount);



                //           onetime_form.find("input[type='submit']").trigger('click');

                //       }

                //       return false;

                //   });



                });
         </script>
         <!-- Paypal Onetime Form -->
         <form action="https://www.paypal.com/cgi-bin/webscr" class="hidden" id="paypal_donate_form-onetime" method="post">
          <input name="cmd" type="hidden" value="_donations"/>
          <input name="business" type="hidden" value="accounts@thememascot.com"/>
          <input name="item_name" type="hidden" value="Educate Children"/>
          <!-- updated dynamically -->
          <input name="currency_code" type="hidden" value="USD"/>
          <!-- updated dynamically -->
          <input name="amount" type="hidden" value="20"/>
          <!-- updated dynamically -->
          <input name="no_shipping" type="hidden" value="1"/>
          <input name="cn" type="hidden" value="Comments..."/>
          <input name="tax" type="hidden" value="0"/>
          <input name="lc" type="hidden" value="US"/>
          <input name="bn" type="hidden" value="PP-DonationsBF"/>
          <input name="return" type="hidden" value="http://www.yoursite.com/thankyou.html"/>
          <input name="cancel_return" type="hidden" value="http://www.yoursite.com/paymentcancel.html"/>
          <input name="notify_url" type="hidden" value="http://www.yoursite.com/notifypayment.php"/>
          <input name="submit" type="submit"/>
         </form>
         <!-- Paypal Recurring Form -->
         <form action="https://www.paypal.com/cgi-bin/webscr" class="hidden" id="paypal_donate_form-recurring" method="post">
          <input name="cmd" type="hidden" value="_xclick-subscriptions"/>
          <input name="business" type="hidden" value="accounts@thememascot.com"/>
          <input name="item_name" type="hidden" value="Educate Children"/>
          <!-- updated dynamically -->
          <input name="currency_code" type="hidden" value="USD"/>
          <!-- updated dynamically -->
          <input name="a3" type="hidden" value="20"/>
          <!-- updated dynamically -->
          <input name="t3" type="hidden" value="D"/>
          <!-- updated dynamically -->
          <input name="p3" type="hidden" value="1"/>
          <input name="rm" type="hidden" value="2"/>
          <input name="src" type="hidden"  value="1"/>
          <input name="sra" type="hidden" value="1"/>
          <input name="no_shipping" type="hidden" value="0"/>
          <input name="no_note" type="hidden" value="1"/>
          <input name="lc" type="hidden" value="US"/>
          <input name="bn" type="hidden" value="PP-DonationsBF"/>
          <input name="return" type="hidden" value="http://www.yoursite.com/thankyou.html"/>
          <input name="cancel_return" type="hidden" value="http://www.yoursite.com/paymentcancel.html"/>
          <input name="notify_url" type="hidden" value="http://www.yoursite.com/notifypayment.php"/>
          <input name="submit" type="submit"/>
         </form>
         <!-- ===== END: Paypal Both Onetime/Recurring Form ===== -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
         <h3 class="text-uppercase title line-bottom mt-0 mb-30">
          <i class="fa fa-comments-o text-theme-colored mr-10">
          </i>
          Client
          <span class="text-theme-colored">
           Testimonials
          </span>
         </h3>
         <div class="testimonial style1 owl-carousel-1col owl-nav-top">
          <div class="item">
           <div class="comment bg-theme-colored">
            <p>
             Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.
            </p>
           </div>
           <div class="content mt-20">
            <div class="thumb pull-right">
             <img alt="" class="img-circle" src=" {% static 'images/testimonials/s1.jpg' %} "/>
            </div>
            <div class="patient-details text-right pull-right mr-20 mt-10">
             <h5 class="author text-theme-colored">
              Jonathan Smith
             </h5>
             <h6 class="title">
              cici inc.
             </h6>
            </div>
           </div>
          </div>
          <div class="item">
           <div class="comment bg-theme-colored">
            <p>
             Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.
            </p>
           </div>
           <div class="content mt-20">
            <div class="thumb pull-right">
             <img alt="" class="img-circle" src=" {% static 'images/testimonials/s1.jpg' %} "/>
            </div>
            <div class="patient-details text-right pull-right mr-20 mt-10">
             <h5 class="author text-theme-colored">
              Jonathan Smith
             </h5>
             <h6 class="title">
              cici inc.
             </h6>
            </div>
           </div>
          </div>
          <div class="item">
           <div class="comment bg-theme-colored">
            <p>
             Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.
            </p>
           </div>
           <div class="content mt-20">
            <div class="thumb pull-right">
             <img alt="" class="img-circle" src=" {% static 'images/testimonials/s1.jpg' %} "/>
            </div>
            <div class="patient-details text-right pull-right mr-20 mt-10">
             <h5 class="author text-theme-colored">
              Jonathan Smith
             </h5>
             <h6 class="title">
              cici inc.
             </h6>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- Divider: Clients -->
    <section class="clients bg-theme-colored">
     <div class="container pt-0 pb-0">
      <div class="row">
       <div class="col-md-12">
        <!-- Section: Clients -->
        <div class="owl-carousel-6col clients-logo transparent text-center">
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w1.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w2.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w3.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w4.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w5.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w6.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w3.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w4.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w5.png' %} "/>
          </a>
         </div>
         <div class="item">
          <a href="#">
           <img alt="" src=" {% static 'images/clients/w6.png' %} "/>
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
   </div>
   <!-- end main-content -->


   {% endblock %}

{% block css %}
<style>
 div.row.mtli-row-clearfix div.slide {
    max-height: 150vh;
    overflow: scroll;
}
 div.row.mtli-row-clearfix div.slide::-webkit-scrollbar {
    display: none;
}
</style>
{% endblock %}